.book{
    position: relative;
    width: 350px;
    height: 450px;
    transition: transform 0.5;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.paper{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
    cursor: pointer;
}

.front, .back{
    background-color: white;
    background-image: url('../../images/textures/beige-paper.png') !important;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 1s;
}

.front{
    z-index: 1;
    backface-visibility: hidden;
    border-left: 5px solid #cccccc;
}

.back{
    z-index: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.back-content{
    transform: rotateY(180deg);
}

.front-content, .back-content{
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 10px;
}

.flipped .front, .flipped .back{
    transform: rotateY(-180deg);
}

#p1{
    z-index: 3;
}

#p2{
    z-index: 2;
}

#p3{
    z-index: 1;
}

.manual-numeration-right{
    display: block;
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: smaller;
}

.manual-numeration-left{
    display: block;
    position: absolute;
    bottom: 0;
    left: 10px;
    font-size: smaller;
}